<div [@fadeIn]="fadeIn" class="p-2 flex-fill">
    <div class="container-fluid">
        <div class="col bg-light shadow p-3 mx-2 mb-3 rounded">
            <div class="fs-2 p-3">
                {{ configData["common-information"]["common-name"] }}
            </div>
        </div>
   
        <div class="col-sm bg-light shadow-lg p-3 mx-2 mb-4 rounded">
            <div class="fs-4 p-2 mb-3 ">
                Purpose:
            </div>
            {{ configData["home-information"]["purpose-of-site"] }}
        </div>
        <div class="col-sm bg-light shadow-lg p-3 mx-2 mb-4 rounded">
            <div class="fs-4 p-2 mb-3 ">
                Mission Statement:
            </div>
            {{ configData["home-information"]["mission-statement"] }}
        </div>
   
    </div>
</div>