        <script type="module">
                import { io } from "https://cdn.socket.io/4.3.2/socket.io.esm.min.js";
        </script>
        <div class=fakeMenu>
                <div class="fakeButtons fakeClose"></div>
                <div class="fakeButtons fakeMinimize"></div>
                <div class="fakeButtons fakeZoom"></div>
        </div>
        <div class="fakeScreen">
                <p class="line1" id="line1">$ yo gulp-webapp<span class="cursor1">_</span></p>
                <script>
                        socket.on("connect", () => {
                                console.log(socket.id);
                        });
                </script>
        </div>




